@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --font-sans: 'Epilogue', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-sans);
}

code, pre {
  font-family: var(--font-mono);
}
